<div class="search-container">
    <button type="button" class="btn btn-primary">
        Every page is separated <span class="badge badge-light"></span>
    </button>

    <input type="search" [(ngModel)]="term" placeholder="Search" class="search-input">
    <span class="search-icon">
        <img [src]="icon">
    </span>
</div>
<div class="table-responsive text-nowrap">
    <table class="table table-striped">
        <thead>
        <tr>
            <th (click)="sortTable('id')">ID <span *ngIf="sortedColumn === 'id'">{{ sortDirection === 'asc' ? '▲' : '▼'
                    }}</span></th>
            <th (click)="sortTable('name')">Name <span *ngIf="sortedColumn === 'name'">{{ sortDirection === 'asc' ? '▲'
                    :
                    '▼' }}</span></th>
            <th (click)="sortTable('fondation')">Fondation <span *ngIf="sortedColumn === 'fondation'">{{ sortDirection ===
                    'asc' ? '▲' : '▼' }}</span></th>
            <th (click)="sortTable('owner')">Owner <span *ngIf="sortedColumn === 'owner'">{{ sortDirection === 'asc' ? '▲'
                    :
                    '▼' }}</span></th>
            <th (click)="sortTable('staduim')">Staduim <span *ngIf="sortedColumn === 'staduim'">{{ sortDirection === 'asc' ? '▲'
                        :
                        '▼' }}</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of applySorting(pagedItems | teamFilter:term)">
            <td>{{m.id}}</td>
            <td>{{m.name}}</td>
            <td>{{m.fondation}}</td>
            <td>{{m.owner}}</td>
            <td>{{m.staduim}}</td>
        </tr>
    </tbody>
</table>
</div>
<div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>